.main-advantage {
	&__wrapper {
		padding: 60px 0 0;
		background: linear-gradient(180deg, rgba(39, 201, 207, 0.18) 0%, rgba(238, 238, 238, 0.14) 100%);
		transform: skewY(-10deg);
		& .container {
			transform: skewY(10deg);
		}
	}

	& .tabs {
		margin-top: 35px;
		&__content {
			margin-top: 25px;
			&-list {
				margin: 0;
				margin-top: 20px;
				padding: 0;
				list-style: none;
				&-item {
					position: relative;
					padding-left: 21px;
					font-size: $fs-17;
					line-height: 150%;
					& + .tabs__content-list-item {
						margin-top: 15px;
					}
					&::before {
						position: absolute;
						top: 6px;
						left: 0;
						width: 11px;
						height: 11px;
						background: linear-gradient(180deg, #27c9cf 0%, #279dcf 100%);
						border-radius: 50%;
						content: '';
					}
				}
			}
		}
	}
	&__svg {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 250px;
		margin-top: 25px;
	}
	&__info {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		margin-top: 80px;
		padding: 50px 20px;
		column-gap: 10px;
		background: linear-gradient(90.02deg, #27c9cf 0.01%, #2788cf 99.98%);
		transform: skewY(10deg);
		row-gap: 30px;
		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			&-title {
				color: $white-color;
				font-weight: $fw-700;
				font-size: $fs-17;
				line-height: 150%;
				text-align: center;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.main-advantage {
		&__wrapper {
			transform: skewY(-5deg);

			& .container {
				display: grid;
				grid-template-rows: min-content max-content;
				grid-template-columns: 1fr 1fr;
				transform: skewY(5deg);
				& .section-header {
					grid-row: 1;
					grid-column: 1 / span 3;
				}
			}
		}

		&__info {
			grid-template-rows: unset;
			grid-template-columns: repeat(4, auto);
			padding: 60px 30px;
			transform: skewY(5deg);
			&-item {
				&-title {
					margin-top: 20px;
					& br {
						display: none;
					}
				}
			}
		}
		&__svg {
			align-self: center;
			width: 390px;
			height: 390px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.main-advantage {
		&__wrapper {
			padding-top: 100px;
			transform: skewY(-3deg);
			& .container {
				transform: skewY(3deg);
			}
		}
		&__info {
			transform: skewY(3deg);
		}
		&__svg {
			align-self: center;
			width: 570px;
			height: 570px;
		}
	}
}

@media screen and (min-width: 1800px) {
	.main-advantage {
		&__info {
			padding: 60px calc(50% - 590px);
		}
		&__svg {
			width: 640px;
			height: 640px;
		}
	}
}
