.tabs {
	&__header {
		display: flex;
		& .tab__title {
			flex: 0 0 50%;
			padding-bottom: 15px;
			font-weight: $fw-700;
			font-size: $fs-15;
			line-height: 150%;
			text-align: center;
			border-bottom: 2px solid #cdcfcf;
			cursor: pointer;
			transition: border 0.3s ease;
			&.tab__title-active {
				border-color: $strong-cyan-color;
				transition: border 0.3s ease;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.tabs {
		& .tab__title {
			font-size: $fs-18;
		}
	}
}

@media screen and (min-width: 1200px) {
	.tabs {
		& .tab__title {
			font-size: $fs-22;
		}
	}
}
