.main-about-us {
	position: relative;
	z-index: 1;
	&__text-wrap {
		height: 280px;
		margin-top: 30px;
		overflow: hidden;
		&--open {
			height: auto;
			overflow: visible;
		}
	}
	&__btn-more {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 105px;
		margin: 15px auto 0;
		color: $strong-cyan-color;
		font-weight: $fw-300;
		font-size: $fs-17;
		line-height: 150%;
		background-color: $transparent;
		border: none;
		outline: none;
	}
	&__btn-svg {
		margin-left: 5px;
	}
}

@media screen and(min-width:375px) {
	.main-about-us {
		&::before {
			top: -90px;
		}
	}
}
