@import '../styles/variables.scss';

@font-face {
	font-weight: $fw-200;
	font-family: $font-family-moshita;
	font-style: normal;
	src: url('/fonts/moshita/MoshitaMono.ttf');
	font-display: swap;
}

@font-face {
	font-weight: $fw-900;
	font-family: $font-family-moshita;
	font-style: normal;
	src: url('/fonts/moshita/MoshitaMonoBold.ttf');
	font-display: swap;
}

@font-face {
	font-weight: $fw-700;
	font-family: $font-family-moshita;
	font-style: normal;
	src: url('/fonts/moshita/MoshitaMonoBold.ttf');
	font-display: swap;
}

@font-face {
	font-weight: $fw-500;
	font-family: $font-family-moshita;
	font-style: normal;
	src: url('/fonts/moshita/MoshitaMono.ttf');
	font-display: swap;
}

@font-face {
	font-weight: $fw-600;
	font-family: $font-family-moshita;
	font-style: normal;
	src: url('/fonts/moshita/MoshitaMonoBold.ttf');
	font-display: swap;
}

@font-face {
	font-weight: $fw-400;
	font-family: $font-family-moshita;
	font-style: normal;
	src: url('/fonts/moshita/MoshitaMono.ttf');
	font-display: swap;
}

@font-face {
	font-weight: $fw-300;
	font-family: $font-family-moshita;
	font-style: normal;
	src: url('/fonts/moshita/MoshitaMono.ttf');
	font-display: swap;
}

@font-face {
	font-weight: $fw-100;
	font-family: $font-family-moshita;
	font-style: normal;
	src: url('/fonts/moshita/MoshitaMono.ttf');
	font-display: swap;
}
