.privacy {
	&_container {
		margin: 40px 100px;
	}

	&_title {
		text-align: center;
	}

	&_text {
		list-style: none;
	}
}

.privacy_container {
	margin: 40px 100px;

	h1,
	h3 {
		text-align: center;
	}

	ul {
		list-style: none;
	}

	.parent_li {
		margin-top: 15px;

		li {
			margin-left: 15px;
		}
	}

	a {
		color: #27c9cf;
		transition: 0.4s;

		&:hover {
			color: #1c8488;
		}
	}
}

@media (max-width: 990px) {
	.privacy_container {
		margin: 40px 30px;

		h1 {
			font-size: 24px;
		}
	}
}
