.main-advantages {
	padding: 70px 20px 0px;
	&__carousel {
		margin-top: 30px;
		&-item {
			&-info {
				display: flex;
				align-items: center;
				&-name {
					margin-right: 20px;
					padding: 5px;
					color: $white-color;
					font-weight: $fw-600;
					font-size: $fs-15;
					line-height: 150%;
					text-transform: uppercase;
					background: linear-gradient(90deg, #279dcf 0%, #27a7cf 51.56%, #27c9cf 100%);
				}
				&-count {
					color: $grayish-cyan-color;
					font-size: $fs-17;
					line-height: 150%;
				}
			}
			&-title {
				margin: 10px 0;
				color: $dark-grayish-blue-color;
				font-weight: $fw-600;
				font-size: $fs-17;
				line-height: 150%;
			}
		}
	}
}
